# ============================================
# OS / Editor
# ============================================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log

# ============================================
# PHP / Composer
# ============================================
vendor/
*.cache
*.tmp

# composer.lock se většinou VERZUJE, tak ho neignoruj
# composer.lock

# ============================================
# Environment / konfigurace
# ============================================
.env
.env.local
.env.*.local

# ============================================
# Node / Frontend
# ============================================
node_modules/
package-lock.json
yarn.lock

# ============================================
# Build / dist / assets
# ============================================
dist/
build/
public/uploads/*
assets/